* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: blue;
    color: #FFF;
    height: 100px;
    display: flex;
    justify-content: center;
}
.container {
    width: 1140px;
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .container {
    align-items: center;
    font-size: 25px;
    background-color: blueviol;
}

/*SECTION*/
.numbersGenerate {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}

.buttonNumbers {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    background-color: green;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}
.buttonNumbers:hover {
    background-color: rgb(0, 221, 0);
}
.qtdGames {
    margin-top: 20px;
    font-size: 20px;
}
.qtdNumbers {
    margin-top: 4px;
    font-size: 20px;
}
.lottery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.numbers {
    width: 200px;
    background-color: #CCC;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    border-radius: 10px;
    word-spacing: 16px;
}
.numbers:hover {
    background-color: rgb(109, 107, 107);
    color: #FFF;
}
select {
    width: 50px;
    height: 20px;
}

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    font-size: 12px;
    background-color: rgb(122, 117, 117);
    color: #FFF;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}



@media (min-width: 426px) and (max-width:770px) {
    header .container {
        font-size: 20px;
    }
    .buttonNumbers {
        font-size: 31px;
    }
    .lottery {
        grid-template-columns: repeat(3, 1fr);
    }
    .numbers {
        width: 200px;
        height: 100px;
        font-size: 16px;
        word-spacing: 23px;
        line-height: 25px;
        border-bottom: 1px solid #000;
    }
}

@media (min-width:375px) and (max-width:425px) {
    header .container {
        font-size: 20px;
    }
    .buttonNumbers {
        font-size: 31px;
    }
    .lottery {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .numbers {
        width: 200px;
        height: 100px;
        font-size: 16px;
        word-spacing: 23px;
        line-height: 25px;
        border-bottom: 1px solid #000;
    }
    footer {
        font-size: 10px;
    }
}

@media (max-width:374px) {
    header .container {
        font-size: 16px;
    }
    .buttonNumbers {
        font-size: 25px;
    }
    .qtdGames {
        font-size: 17px;
    }
    .qtdNumbers {
        font-size: 17px;
    }
    .lottery {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .numbers {
        width: 200px;
        height: 100px;
        font-size: 16px;
        word-spacing: 23px;
        line-height: 25px;
        border-bottom: 1px solid #000;
    }
    footer {
        font-size: 10px;
    }
}